/***************************通用选择器*******************************/
/** {
    color:rgb(12, 65, 38);
    font-size:20px;
 }
 */
 /*******************************伪类选择器*************************/
 #one:hover{   /*注意，标签:和hover之间没有空格*/
     color: brown;
     font-size: 30px;
 }
 #one:active{
     color:green;
     font-size: 40px;
 }
 #one:visited{
     color:blue;
     font-size: 35px;
 }

 /*******************************分组选择器****************************/
 .first, #second span{
     color:green;
 }